
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
	margin:0;
	font-family: "Roboto" sans-serif;
}

.table {
	display: flex;
	justify-content: center;
	margin-top:20px;
}

table {
	font-size:10px;
	border-collapse: collapse;
}

td {
	text-align: center;
	height:30px;
	color:#836665;
	min-width: 50px;
	max-width: 150px;
	padding:2px;
	border: 1px solid white;
}
tr {
	transition: 0.3s all;
}

tr:hover {
	background: gray;
	transition: 0.3s all;
}

tr:first-child {
	color: white;
	background: #A6ECDD;
}
tr{
	background: #FFE48D;
}
input {
	height: 100%;
	max-width: 100px;
	min-width:50px;
}
input:focus {
	margin:0;
	padding:5px;
	border:0;
}